* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* ______________________________________navbar_________________________________________________ */
.navbar-brand {
    color: white;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
    background-color: #282c34;
}

#navbar-section {
    background-color: #282c34;
}

/* ________________________________________menu header _________________________________________ */
#menu {
    font-weight: bolder;
    display: flex;
    /* justify-content: space-evenly; */
    height: 20%;
    align-items: center;
    overflow: auto;
    font-size: small;

}

#menu::-webkit-scrollbar {
    width: 0 !important
}

/* __________________________________________menu different cards_______________________________ */
#menu .card-img .img-fluid {

    height: 61px;
    border-radius: 50%;
}

#menu .card-img:hover {
    transform: scale(1.3);
    transition: all 300ms ease-in-out;
    z-index: 2;
}

#menu .myCard {
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 5px;
}

#menu .card-img,
.card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
    display: flex;
    justify-content: center;
}

#menu .card {
    border: 0;
    width: 120px;
    height: 100%;
    padding: 5px;
    margin: 1px;
}

#menu .caption {
    text-align: center;
}

#menu .caption a {
    color: #282c34;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Shojumaru', cursive;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    border: 7px;
}

#menu .caption a:hover {
    color: #61dafb;
}

/* ____________________________________________menu ends__________________________________________________________________________________ */
/* ________________________________________category heading____________________________________ */
#category_heading {
    font-weight: bolder;
    font-family: 'Shojumaru', cursive;
    color: #282c34;
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    height: 60px;
    align-items: center;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
}

/* __________________________________________card______________________________________________ */
#samplePost {
    object-fit: cover;
    width: 100%;
}

#category_card {
    width: 100%;
}

#category_card:hover {
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
    z-index: 2;
}

#category_card .card-img,
#category_card .card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

#category_card .card-img,
#category_card .card-img-bottom,
#category_card .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: contain;
    background-position: center;
}

#category_card .btn-secondary {
    background-color: #282c34;
    border-color: #6c757d;
}

#category_card .card-body p {
    padding-bottom: 5px;
}

#category_card .card-text .badge {
    margin: 0.1rem;
    padding: 8px;
    line-height: 1.3;
}

#category_card .badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #61dafb;
    text-align: center;
    white-space: initial;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

@media (max-width: 668px) {
    #menu .myCard {
        padding-left: 0px;
        padding-right: 1px;
        margin-bottom: 2px;
    }
}