*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slider{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
#slideimg{
  height: 100%;
  width: 100%;
  animation: zoom 3s ease infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.overlay{
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6));
  position: absolute;
  top: 0;
}
.navbar{
  width: 90%;
  display: flex;
  align-items: center;
  margin: 15px auto;
}
#heading{
  color: rgb(252, 251, 255);
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
  color: rgb(252, 251, 255);
  width: 60%;
  margin:7% auto 0;
  text-align: center;
  
}
.content h1{
  font-size: 45px;
  font-weight: bold;
}
.content h4{
  font-family:'Times New Roman', Times, serif ;
  width: 80%;
  margin: 20px auto 100px;
  line-height: 25px;
}
button{
  width: 150px;
  border-radius: 0.8em;
  border: 3px solid #4934a8;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  color: #fff;
  background: #988cd1;
  transition: background 0.5s;
  position: relative;
  bottom: 80px;
}
button:hover{
  background: transparent;
  border:3px solid #fff;
}